{% extends 'base.html' %}
{% block body %}

<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">

            <span class="card-title">{{ user.username }}<br></span>
            <p><{{ user }} {{ user.first_name }}{{ user.last_name }}</p>
          O mnie:
            <p> {{ user.bio}}</p>
            <p>Miejsce zamieszkania:{{ user.city }}</p>
            <p>Ulubione dyscypliny: {{ user.get_sports }}</p>
            <p>Wiek: {{ user.age }}</p>
        <p>Poziom: {{  user.get_levels }}</p>

        </div>
        <div class="card-action">
                 <a href="/update_profile/{{ page_user.id }}">edytuj profil</a><br>
                 <a href="/delete_profile/{{ page_user.id }}">usun profil</a><br>

        </div>
      </div>
    </div>
  </div>
</div>
{##}
{#<h3>Twoj profil</h3>#}
{#    #}
{#<a href="/send_message/{{ page_user.user.id }}">Napisz wiadomosc</a><br>#}
{#    {% endif %}#}
{##}
{#    Uzytkownik: {{ page_user }} {{ page_user.user.first_name }}{{ page_user.last_name }}<br>#}
{#    O mnie:{{ page_user.bio}}<br>#}
{#    Miejsce zamieszkania:{{ page_user.city }}<br>#}
{#    Ulubione dyscypliny: {{ page_user.get_sports }} <br>#}
{#    Wiek: {{ page_user.age }}<br>#}
{#    Poziom: {{ page_user.get_levels }}#}



{%endblock%}